.day {
    display: flex;
    flex-flow: column;
    text-align: center;
    background: rgb(238,175,97);
    background: radial-gradient(circle, rgba(238,175,97,1) 33%, rgba(251,144,98,1) 73%, rgba(238,93,108,1) 92%);
    flex: 1 1 auto; // fill remaining page height
    overflow: hidden;
    &__info {
        display: flex;
        width: 100%;
    }
    &__dial {
        background: rgb(203 194 104 / 44%);
        position: relative;
        bottom: 0;
        display: flex;
        height: 60vh;
        width: 120vh;
        margin: auto auto 0;
        border-radius: 60vh 60vh 0 0;
    }
    &__sun {
        height: 20vmin;
        pointer-events: none;
        animation: sun-spin infinite 30s linear;
    }
}

.sunInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 15px;
    font-size: calc(5px + 3vmin);
    color: white;
}

.moonInfo {
    position: absolute;
    display: flex;
    flex-direction: column;
    // margin: 0 auto;
    font-size: calc(5px + 2vmin);
    // color: white;
    left: 0; 
    right: 0; 
    top: 150px;
    // bottom: 0;
    // margin-left: auto; 
    // margin-right: auto; 
}


.sunDial {
    position: relative;
    bottom: 0;
    display: flex;
    // border: solid red 1px;
    height: 60vh;
    // flex: 1 auto;
    // width: min-content;
    margin: auto auto 0;
}

//   @media (prefers-reduced-motion: no-preference) {
//     .day__sun {
//       animation: sun-spin infinite 30s linear;
//     }
//   }

  @keyframes sun-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }